.leaflet-div-icon {
    background: transparent;
    border: none;
    top: 20px;
    width: 50px;
}

.leaflet-marker-icon .icon-text {
    position: relative;
    visibility: hidden;
    background: greenyellow;
    border: 1px dotted black;
    top: -50px;
    font-size: 12px;
    width: 50px;
    text-align: center;
}

